openapi: 3.0.3
info:
  title: Ambra Health (InteleShare) v3 Services Public Accounts Namespaces API
  description: 'OpenAPI description of the Ambra Health / InteleShare v3 Services Public API (historically the DICOM Grid API). Ambra Health is a cloud-based medical image management, exchange, and interoperability platform, now part of Intelerad Medical Systems. The API is JSON over HTTPS and is authenticated with a session id (sid) obtained from POST /session/login; the sid is then supplied on subsequent requests as a parameter or via the X-AmbraHealth-SID header.


    Endpoint paths, HTTP verbs, and the sid/bundle mechanics are grounded in the public v3 API reference at https://access.dicomgrid.com/api/v3/api.html and the open-source Python SDK (github.com/dicomgrid/sdk-python). Request and response bodies below are HONESTLY MODELED representative schemas: the public reference documents commands and parameters but does not publish per-field JSON Schemas, so the schemas here are illustrative of shape rather than an exhaustive contract. Operations grounded directly in the reference are marked x-endpoint-status = confirmed; illustrative body schemas are marked x-schema-status = modeled.'
  version: v3
  contact:
    name: Ambra Health / Intelerad
    url: https://ambrahealth.com/platform/developer-tools/apis/
  license:
    name: Proprietary - Ambra Health / Intelerad
    url: https://ambrahealth.com
servers:
- url: https://access.dicomgrid.com/api/v3
  description: Ambra Health / DICOM Grid production API (access.ambrahealth.com is an alias)
security:
- sessionId: []
tags:
- name: Namespaces
  description: Namespace permissions, settings, and audit
paths:
  /namespace/permissions:
    get:
      operationId: namespacePermissions
      tags:
      - Namespaces
      summary: Get namespace permissions
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Permission map
          content:
            application/json:
              schema:
                type: object
                x-schema-status: modeled
                additionalProperties: true
  /namespace/settings:
    get:
      operationId: namespaceSettings
      tags:
      - Namespaces
      summary: Get namespace settings
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Settings
          content:
            application/json:
              schema:
                type: object
                x-schema-status: modeled
                additionalProperties: true
  /namespace/info:
    get:
      operationId: namespaceInfo
      tags:
      - Namespaces
      summary: Get namespace info
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
  /namespace/audit:
    get:
      operationId: namespaceAudit
      tags:
      - Namespaces
      summary: Get the namespace audit log
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Audit entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditEntry'
components:
  schemas:
    AuditEntry:
      type: object
      x-schema-status: modeled
      properties:
        uuid:
          type: string
        action:
          type: string
        user_id:
          type: string
        created:
          type: string
          format: date-time
        detail:
          type: object
          additionalProperties: true
    Namespace:
      type: object
      x-schema-status: modeled
      properties:
        uuid:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - Account
          - Group
          description: Namespaces are accounts or groups
  parameters:
    Sid:
      name: sid
      in: query
      required: true
      description: Session id from POST /session/login. May also be sent via the X-AmbraHealth-SID header.
      schema:
        type: string
  securitySchemes:
    sessionId:
      type: apiKey
      in: header
      name: X-AmbraHealth-SID
      description: Session id (sid) obtained from POST /session/login. Also accepted as the sid request parameter.
