openapi: 3.2.0
info:
  title: Ambra Health (InteleShare) v3 Services Public Sharing API
  description: OpenAPI description of the Ambra Health / InteleShare v3 Services Public API (historically the DICOM Grid API).
  version: v3
  contact:
    name: Ambra Health / Intelerad
    url: https://ambrahealth.com/platform/developer-tools/apis/
  license:
    name: Proprietary - Ambra Health / Intelerad
    url: https://ambrahealth.com
servers:
- url: https://access.dicomgrid.com/api/v3
  description: Ambra Health / DICOM Grid production API (access.ambrahealth.com is an alias)
security:
- sessionId: []
tags:
- name: Sharing
  description: Study and filter sharing / image exchange
paths:
  /study/share:
    post:
      operationId: studyShare
      tags:
      - Sharing
      summary: Share a study with users, groups, or accounts
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRequest'
      responses:
        '200':
          $ref: '#/components/responses/Status'
  /study/share/list:
    get:
      operationId: studyShareList
      tags:
      - Sharing
      summary: List active shares on a study
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Shares
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Share'
  /study/share/stop:
    post:
      operationId: studyShareStop
      tags:
      - Sharing
      summary: Revoke a study share
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRequest'
      responses:
        '200':
          $ref: '#/components/responses/Status'
  /filter/share:
    post:
      operationId: filterShare
      tags:
      - Sharing
      summary: Share a saved filter
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-schema-status: modeled
              properties:
                filter_id:
                  type: string
                target_id:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Status'
components:
  parameters:
    Sid:
      name: sid
      in: query
      required: true
      description: Session id from POST /session/login. May also be sent via the X-AmbraHealth-SID header.
      schema:
        type: string
  responses:
    Status:
      description: Status result
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
  schemas:
    ShareRequest:
      type: object
      x-schema-status: modeled
      required:
      - uuid
      properties:
        uuid:
          type: string
          description: Study uuid
        account_id:
          type: string
        group_id:
          type: string
        user_id:
          type: string
        email:
          type: string
          format: email
        message:
          type: string
    Share:
      type: object
      x-schema-status: modeled
      properties:
        uuid:
          type: string
        study_id:
          type: string
        target_type:
          type: string
          enum:
          - user
          - group
          - account
        target_id:
          type: string
        created:
          type: string
          format: date-time
    Status:
      type: object
      properties:
        status:
          type: string
          example: OK
  securitySchemes:
    sessionId:
      type: apiKey
      in: header
      name: X-AmbraHealth-SID
      description: Session id (sid) obtained from POST /session/login. Also accepted as the sid request parameter.
