openapi: 3.2.0
info:
  title: Ambra Health (InteleShare) v3 Services Public Storage &…
  description: OpenAPI description of the Ambra Health / InteleShare v3 Services Public API (historically the DICOM Grid API).
  version: v3
  contact:
    name: Ambra Health / Intelerad
    url: https://ambrahealth.com/platform/developer-tools/apis/
  license:
    name: Proprietary - Ambra Health / Intelerad
    url: https://ambrahealth.com
servers:
- url: https://access.dicomgrid.com/api/v3
  description: Ambra Health / DICOM Grid production API (access.ambrahealth.com is an alias)
security:
- sessionId: []
tags:
- name: Storage & Images
  description: DICOM data, storage, and annotations
paths:
  /study/dicomdata/load:
    post:
      operationId: studyDicomdataLoad
      tags:
      - Storage & Images
      summary: Load DICOM metadata for a study
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-schema-status: modeled
              properties:
                uuid:
                  type: string
      responses:
        '200':
          description: DICOM metadata
          content:
            application/json:
              schema:
                type: object
                x-schema-status: modeled
                additionalProperties: true
  /dicomdata/list:
    get:
      operationId: dicomdataList
      tags:
      - Storage & Images
      summary: List DICOM data
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: study_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: DICOM data entries
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /dicomdata/get:
    get:
      operationId: dicomdataGet
      tags:
      - Storage & Images
      summary: Get a DICOM data element
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: DICOM data
          content:
            application/json:
              schema:
                type: object
                x-schema-status: modeled
                additionalProperties: true
  /annotation/add:
    post:
      operationId: annotationAdd
      tags:
      - Storage & Images
      summary: Add a frame-level image annotation
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotation'
      responses:
        '200':
          $ref: '#/components/responses/Status'
  /annotation/list:
    get:
      operationId: annotationList
      tags:
      - Storage & Images
      summary: List annotations
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: study_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Annotations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Annotation'
components:
  responses:
    Status:
      description: Status result
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
  schemas:
    Status:
      type: object
      properties:
        status:
          type: string
          example: OK
    Annotation:
      type: object
      x-schema-status: modeled
      properties:
        uuid:
          type: string
        study_id:
          type: string
        image_id:
          type: string
        frame:
          type: integer
        data:
          type: object
          additionalProperties: true
  parameters:
    Sid:
      name: sid
      in: query
      required: true
      description: Session id from POST /session/login. May also be sent via the X-AmbraHealth-SID header.
      schema:
        type: string
  securitySchemes:
    sessionId:
      type: apiKey
      in: header
      name: X-AmbraHealth-SID
      description: Session id (sid) obtained from POST /session/login. Also accepted as the sid request parameter.
