openapi: 3.2.0
info:
  title: Ambra Health (InteleShare) v3 Services Public Accounts API
  description: OpenAPI description of the Ambra Health / InteleShare v3 Services Public API (historically the DICOM Grid API).
  version: v3
  contact:
    name: Ambra Health / Intelerad
    url: https://ambrahealth.com/platform/developer-tools/apis/
  license:
    name: Proprietary - Ambra Health / Intelerad
    url: https://ambrahealth.com
servers:
- url: https://access.dicomgrid.com/api/v3
  description: Ambra Health / DICOM Grid production API (access.ambrahealth.com is an alias)
security:
- sessionId: []
tags:
- name: Accounts
  description: Account (tenant) administration
paths:
  /account/list:
    get:
      operationId: accountList
      tags:
      - Accounts
      summary: List accounts
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      responses:
        '200':
          description: Accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
  /account/get:
    get:
      operationId: accountGet
      tags:
      - Accounts
      summary: Get an account
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/AccountResponse'
  /account/set:
    post:
      operationId: accountSet
      tags:
      - Accounts
      summary: Update account settings
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          $ref: '#/components/responses/AccountResponse'
  /account/user/add:
    post:
      operationId: accountUserAdd
      tags:
      - Accounts
      summary: Add a user to an account
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-schema-status: modeled
              properties:
                uuid:
                  type: string
                  description: Account uuid
                user_id:
                  type: string
                role:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Status'
  /account/user/list:
    get:
      operationId: accountUserList
      tags:
      - Accounts
      summary: List users in an account
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /account/user/delete:
    post:
      operationId: accountUserDelete
      tags:
      - Accounts
      summary: Remove a user from an account
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-schema-status: modeled
              properties:
                uuid:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Status'
components:
  parameters:
    Sid:
      name: sid
      in: query
      required: true
      description: Session id from POST /session/login. May also be sent via the X-AmbraHealth-SID header.
      schema:
        type: string
  responses:
    Status:
      description: Status result
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
    AccountResponse:
      description: An account
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Account'
  schemas:
    Account:
      type: object
      x-schema-status: modeled
      properties:
        uuid:
          type: string
        name:
          type: string
        namespace_id:
          type: string
        settings:
          type: object
          additionalProperties: true
    User:
      type: object
      x-schema-status: modeled
      properties:
        uuid:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        first:
          type: string
        last:
          type: string
        role:
          type: string
    Status:
      type: object
      properties:
        status:
          type: string
          example: OK
  securitySchemes:
    sessionId:
      type: apiKey
      in: header
      name: X-AmbraHealth-SID
      description: Session id (sid) obtained from POST /session/login. Also accepted as the sid request parameter.
