openapi: 3.0.3
info:
  title: Ambra Health (InteleShare) v3 Services Public Accounts Sharing API
  description: 'OpenAPI description of the Ambra Health / InteleShare v3 Services Public API (historically the DICOM Grid API). Ambra Health is a cloud-based medical image management, exchange, and interoperability platform, now part of Intelerad Medical Systems. The API is JSON over HTTPS and is authenticated with a session id (sid) obtained from POST /session/login; the sid is then supplied on subsequent requests as a parameter or via the X-AmbraHealth-SID header.


    Endpoint paths, HTTP verbs, and the sid/bundle mechanics are grounded in the public v3 API reference at https://access.dicomgrid.com/api/v3/api.html and the open-source Python SDK (github.com/dicomgrid/sdk-python). Request and response bodies below are HONESTLY MODELED representative schemas: the public reference documents commands and parameters but does not publish per-field JSON Schemas, so the schemas here are illustrative of shape rather than an exhaustive contract. Operations grounded directly in the reference are marked x-endpoint-status = confirmed; illustrative body schemas are marked x-schema-status = modeled.'
  version: v3
  contact:
    name: Ambra Health / Intelerad
    url: https://ambrahealth.com/platform/developer-tools/apis/
  license:
    name: Proprietary - Ambra Health / Intelerad
    url: https://ambrahealth.com
servers:
- url: https://access.dicomgrid.com/api/v3
  description: Ambra Health / DICOM Grid production API (access.ambrahealth.com is an alias)
security:
- sessionId: []
tags:
- name: Sharing
  description: Study and filter sharing / image exchange
paths:
  /study/share:
    post:
      operationId: studyShare
      tags:
      - Sharing
      summary: Share a study with users, groups, or accounts
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRequest'
      responses:
        '200':
          $ref: '#/components/responses/Status'
  /study/share/list:
    get:
      operationId: studyShareList
      tags:
      - Sharing
      summary: List active shares on a study
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Shares
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Share'
  /study/share/stop:
    post:
      operationId: studyShareStop
      tags:
      - Sharing
      summary: Revoke a study share
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRequest'
      responses:
        '200':
          $ref: '#/components/responses/Status'
  /filter/share:
    post:
      operationId: filterShare
      tags:
      - Sharing
      summary: Share a saved filter
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/Sid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-schema-status: modeled
              properties:
                filter_id:
                  type: string
                target_id:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Status'
components:
  schemas:
    Share:
      type: object
      x-schema-status: modeled
      properties:
        uuid:
          type: string
        study_id:
          type: string
        target_type:
          type: string
          enum:
          - user
          - group
          - account
        target_id:
          type: string
        created:
          type: string
          format: date-time
    ShareRequest:
      type: object
      x-schema-status: modeled
      required:
      - uuid
      properties:
        uuid:
          type: string
          description: Study uuid
        account_id:
          type: string
        group_id:
          type: string
        user_id:
          type: string
        email:
          type: string
          format: email
        message:
          type: string
    Status:
      type: object
      properties:
        status:
          type: string
          example: OK
  parameters:
    Sid:
      name: sid
      in: query
      required: true
      description: Session id from POST /session/login. May also be sent via the X-AmbraHealth-SID header.
      schema:
        type: string
  responses:
    Status:
      description: Status result
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
  securitySchemes:
    sessionId:
      type: apiKey
      in: header
      name: X-AmbraHealth-SID
      description: Session id (sid) obtained from POST /session/login. Also accepted as the sid request parameter.
